.login--sideleft {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
  background: linear-gradient(to right, #0575e6, #021b79);
}

.login--img {
  transform: scale(0.55);
}

.login--sideright {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.brand {
  position: absolute;
  padding: 20px;
  z-index: 1;
}
.brand-text {
  color: white;
  font-family: "Merienda One";
}

Card {
  width: 500px;
}

.main-div {
  margin-top: 50vh;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.form {
  width: 800px;
  padding: 10px;
}

.title {
  text-align: center;
  padding-top: 50px;
}

.btn-login {
  margin-top: 10px;
}
